<%= @subregion.primary_sub %>
<% if (@rate) %>
  
  <h3> total emissions </h3><br>
  <%= @total_emissions.round(2)%><br>
  <%= @reduced_emissions.round(2)%><br>

	 <h3> emission reduction </h3><br>
	 <%= @emission_reduction.round(2)%><br>

	 <h3> trees planted in a year </h3><br>
	  <%= @trees_planted.round%><br>

<% else %>
	<%= @error %>
<% end %>



<!-- <select>
	<% @providers.each do |provider| %>
		<option value=<%= provider.provider %>><%= provider.provider %></option><br>
	<% end %>
</select> -->