<h1>Entry recorded!</h1>

<!-- <select>
	<% @providers.each do |provider| %>
		<option value=<%= provider.provider %>><%= provider.provider %></option><br>
	<% end %>
</select> -->

<%= @subregion.primary_sub %>
<%= @rate.rate.round(2) %><br>
<%= @bill.round(2) %>