<h1>Savings Calculator</h1>

<div class="max-width-4 mx-auto center">
	
	<p>By taking the following steps towards cleaner energy with the domino box:</p>
		<ul class='inline-block checks'>
			<li class='left-align'>Switching at least 80% of your light bulbs to LED</li>
			<li class='left-align'>Switching to Nest smart thermostat</li>
			<li class='left-align'>Using Arcadia Power</li>
		</ul>
	<p>You could save on your energy bill in addition to making a positive impact on the environment!</p>

	<div class='clearfix'>
		<div class='col col-12 sm-col-4'>
			<h2>Monthly Savings</h2>
			<div class='bg-gray rounded py1 mx1'>
				<p>Your energy bill savings</p>
				<p class='h1 blue'>$<%= @total_savings.round %></p>

				<p>Carbon saved</p>
				<p class='h2 green'><%= @monthly_emission_reduction.round %> lbs</p>

				<p>Trees planted</p>
				<p class='h2 green'><%= (@trees_planted / 12).round %></p>
			</div>
			<button id="mydomino"class="bg-blue button h5 mt2" style="width:271px;">Talk to a concierge</button>
		</div>

		<div class='col col-12 sm-col-4'>
			<h2>Yearly Savings</h2>
			<div class='bg-gray rounded shadow-blue py1 mx1'>
				<p>Your energy bill savings</p>
				<p class='h1 blue'>$<span id="saving"><%= 0 %></span></p>

				<p>Carbon saved</p>
				<p class='h2 green'><span id="emission"><%= 0 %></span> lbs</p>

				<p>Trees planted</p>
				<p class='h2 green'><span id="treenum"><%= 0 %></span></p>
				<div id="tree-pics"></div>
			</div>
		</div>

		<div class='col col-12 sm-col-4'>
			<h2>5 Year Savings</h2>
			<div class='bg-gray rounded py1 mx1'>
				<p>Your energy bill savings</p>
				<p class='h1 blue'>$<%= @five_year_savings.round %></p>

				<p>Carbon saved</p>
				<p class='h2 green'><%= @five_year_emission_reduction.round %> lbs</p>

				<p>Trees planted</p>
				<p class='h2 green'><%= (@trees_planted * 5).round %></p>
			</div>
			<button class="bg-blue button h5 mt2" style="width:271px;">Get a MyDomino Box!</button>
		</div>



	</div>
	<p class="py2">* Disclaimer: All of these figures are rough estimates of your savings based on your provided information and national averages. </p>



</div>


<script type='text/javascript'>
	var current = 0;
	var amount = <%= @yearly_savings %>;
	var emissioncurrent = 0;
	var emissionamount = <%= @emission_reduction %>;
	var treecurrent = 0;
	var treeamount = <%= @trees_planted %>;
	

	var src = document.getElementById("tree-pics");
	

  $(document).ready(function(){
  	setInterval(function(){ 
    if (current < amount) {
    	current += 0.25;
    	$("#saving").html(current.toFixed(0));
    }
   }, 5);

  	setInterval(function(){ 
    if (emissioncurrent < emissionamount) {
    	emissioncurrent += 0.20;
    	$("#emission").html(emissioncurrent.toFixed(0));
    }
   }, 5);

  	setInterval(function(){ 
    if (treecurrent < treeamount) {
    	treecurrent += 1;
    	$("#treenum").html(treecurrent);
    	var img = document.createElement("img");
			img.src = '/assets/tree.png';
			src.appendChild(img);
    }
   }, 200);

  	$('#mydomino').on('click', function(){
      window.location.href = "https://www.mydomino.com/";
  });

  });
  
</script>
