<h1 class="title">Savings Calculator</h1>

<div id="result-container" class="container">
	<h2>Monthly Savings</h2>

	<div class="savings">
		<div class="energy-saving">
			<p class="description">Your energy bill savings</p>
			<p class="total-saving">$<%= @total_savings.round(2) %></p>
		</div>

		<div class="emission-saving">
			<p class="description">Carbon saved</p>
			<p class="cut-emission"><%= @emission_reduction.round(2) %></p>
		</div>

		<div class="trees">
			<p class="description">Trees planted</p>
			<p class="cut-emission"><%= @trees_planted.round %></p>
		</div>

	</div>
</div>




<!-- <select>
	<% @providers.each do |provider| %>
		<option value=<%= provider.provider %>><%= provider.provider %></option><br>
	<% end %>
</select> -->