<h1>Savings Calculator</h1>

<div id="error" class="center red mt4">
  <% @entry.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
</div>

<div id="entry-form">
  <%= form_for @entry do |f| %>

  	<div class='zip'>
  		<span class = 'label'>Zip Code</span>
    	<%= f.label :zip, :class => "label-hide" %>
      <%= f.text_field :zip, :class => "zip-field" %>
      <button type='button' id='zip-go'>Go!</button>
    </div>

    <div class="container" style="display:none;">
      
      <div class="field-col-1">
        <%= f.label :monthly_energy_usage, "Monthly Energy Usage", class: "label" %>
        <div>
        	<%= f.text_field :monthly_energy_usage, :class => "entry" %>
    			<span class="unit">kW/h</span>
    		</div>
        <%= f.label :fuel_usage, "Monthly Heating Fuel Usage", class: "label" %>
        <div>
        	<%= f.text_field :fuel_usage, :class => "entry" %>
        	<span class="unit" id="fuel-unit">therms</span>
    		</div>
      </div>

      <div class="field-col-2">
        <%= f.label :provider, "Energy Provider", class: "label" %>
        <div>
          <select disabled class="dropdown" name="entry[provider]" id="entry_provider">
          </select>
        </div>
        <%= f.label :fuel_type, "Fuel Type", class: "label" %>
        <div>
          <%= f.select :fuel_type, ['Natural Gas', 'Propane', 'Butane', 'Heating Oil', 'Kerosene', 'Coal', 'Electricity'], {}, {class: "dropdown", id: "fuel-type"} %>
        </div>
      </div>
      <%= f.submit(:Submit, class: "submit") %>
    
    </div> 
  <% end %>
</div>

<script type='text/javascript'>

  $(document).ready(function(){
    $('#zip-go').on('click', function(){
      var zipCode = $('#entry_zip').val();
      
      $.ajax({
        url : "/entry/rate-providers",
        type : "get",
        data : { zip: zipCode }
      });
    });

    if ($('#error').html().trim() != "") {
      $.ajax({
        url : "/entry/rate-providers",
        type : "get",
        data : { zip: zipCode }
      });
    }
  });
  
</script>